<h1>作者一覧</h1>

<h4><%= @authors.count %></h4>

<% @authors.each do |author| %>
<p>
  <%= link_to author.author,
  controller: 'magazines', action: 'index_author', id: author.id, author: author.author %>
</p>
<% end %>
