<h1>作者一覧</h1>

<h4><%= @authors.count %></h4>

<ul>
  <% @authors.each do |author| %>
    <h4>
      <%= link_to author.author,
      controller: 'magazines', action: 'index_author', id: author.id, author: author.author %>
    </h4>
  <% end %>
</ul>
