<h1>サークル一覧</h1>

<h4><%= @circles.count %></h4>

<ul>
  <% @circles.each do |circle| %>
    <h4>
      <%= link_to circle.circle,
      controller: 'magazines', action: 'index_circle', id: circle.id, circle: circle.circle %>
    </h4>
  <% end %>
</ul>
