<h1>サークル一覧</h1>

<h4><%= @circles.count %></h4>

<% @circles.each do |circle| %>
<p>
  <%= link_to circle.circle,
  controller: 'magazines', action: 'index_circle', id: circle.id, circle: circle.circle %>
</p>
<% end %>
