<h1><%= @origins.first.origin %>の薄い本一覧</h1>

<h4><%= @origins.count %>冊</h4>

<ul>
  <% @origins.each do |origin| %>
    <h4>
      <%= link_to origin.title, magazine_path(origin.id) %>
    </h4>
  <% end %>
</ul>
