<h1><%= @circles.first.circle %>の薄い本一覧</h1>

<h4><%= @circles.count %>冊</h4>

<ul>
  <% @circles.each do |circle| %>
  <h4>
    <%= link_to circle.title, magazine_path(circle.id) %>
  </h4>
</ul>
<% end %>
