<h1><%= @authors.first.author %>の薄い本一覧</h1>

<h4><%= @authors.count %>冊</h4>

<ul>
  <% @authors.each do |author| %>
    <h4>
      <%= link_to author.title, magazine_path(author.id) %>
    </h4>
  <% end %>
</ul>
