<h1>原作一覧</h1>

<h4><%= @origins.count %></h4>

<ul>
  <% @origins.each do |origin| %>
    <h4>
      <%= link_to origin.origin,
      controller: 'magazines', action: 'index_origin', id: origin.id, origin: origin.origin %>
    </h4>
  <% end %>
</ul>
